body {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* header */
.header-container {
    background: rgb(255, 105, 0);
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 10px;
}

header a {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
}

.header-logo {
    width: 10%
}

.header-item {
    display: flex;
    gap: 10px;
}

/* main */

main {
    display: flex;
    margin: 4% 12%;
    justify-content: space-around;
    gap: 18px;
    flex-direction: row;
    flex-wrap: wrap;

}

.product-container {
    position: relative;
    width: calc((100% - 36px) / 3);
    padding-bottom: 18px;
}

.remark {
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 85px;
}

.product-img {
    width: 100%;

}

.hover-img {
    width: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
}

.product-container:hover .hover-img {
    display: inline-block;

}

.heart {
    position: absolute;
    background-color: white;
    bottom: 90%;
    left: 88%;
    padding: 3% 3%;
    font-size: 20px;
}

.discount-remark {
    background-color: red;
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 7px;
}

.sustainability-remark {
    background-color: green;
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 7px;
}

.caption {
    line-height: 3px;
    padding-top: 2%;
}

.brand-name {
    font-family: sans-serif;
    font-size: 12px;
}

h3 {
    font-family: sans-serif;
    font-size: 14px;
}

.price {
    font-family: sans-serif;
    font-size: 12px;
    color: red;
    font-weight: bold;
}

.ex-price {
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    color: #646464;
    text-decoration-line: line-through;
    text-decoration-color: black;
}

.footer {
    background-color: #111118;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    padding: 19px 12%;
}

.boolando-box {
    line-height: 22px;
}

.boolando-links {
    display: flex;
    font-size: 12px;
    flex-direction: row;
    gap: 8px;
}

.social-box {
    display: flex;
    gap: 10px;
    font-size: 21px;
    padding-top: 7px;
}

.footer span {
    font-weight: bold;

}

.footer a {
    color: white;
}